# OS X
.DS_Store
fuelsdk.properties
log4j.properties
settings.xml

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
.gradle/
*.iml
*.iws

# Maven/Gradle
build/
target/
/bin/
/nbproject/
